<!-- finalGO/ui/html/register.tmpl -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <label for="username">Ник:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="email">Почта:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>

</html>



